html {-webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  scroll-behavior: smooth;
  min-height: 100%;
  }

  img[src="./assets/img/knotslogo.png"] {
    border-radius: 50%;
    max-width: 30vw;
    align-items: center;
    padding-left: 50px;}


body {
        font-size: 16px;
        color: #F3E2D0;
        background: linear-gradient(to bottom, #987184 70%, #F3E2D0 100%);
        background-repeat: no-repeat;
        

    }

    nav {    
      float: none;
      position: relative;
      top: 20%;
      left: 50%;
      transform: translate(-50%, 50%);
      max-width: 80%;
      border-radius: 12px;
      background: #ffffff5d;
      border: 1px solid #ffffff65;
      backdrop-filter: blur;
      list-style-type: none;
      padding: 15px;
      font-family: "Poppins", sans-serif;
      font-weight: bold;
      align-content: flex-end;
      align-items: center;
      align-self: center;
      display: flex;
      justify-content: space-around;
      }

      .space {
        padding: 10px;
    }

    footer{
      border-radius: 12px;
      background: #ffffff5d;
      border: 1px solid #ffffff65;
      backdrop-filter: blur;
      padding: 10px;
      list-style-type: none;
      font-family: "Poppins", sans-serif;
      align-self: center;
      position: relative;
    width: 100%;
    left: 0;
    }

    hr.dotted {
      border-top: 3px dotted #987184;
    }

    img[src="https://www.knots.ph/images/default-source/Christmas-Website-Creatives-2024/monthly-special-mb.png?sfvrsn=2"] {      
      text-align: center;
      flex-wrap: wrap;
      align-content: center;
      padding: 10px;
      border-radius: 12px;
      background: #ffffff5d;
      border: 1px solid #ffffff65;
      backdrop-filter: blur;
      list-style-type: none;
      position: relative;
      width: 100%;
      height: 70%;
      text-overflow: clip;}

    img[src="https://www.knots.ph/images/default-source/Christmas-Website-Creatives-2024/birthday-flowers-amp-gifts-mb.png?sfvrsn=2"] {      
        text-align: center;
        flex-wrap: wrap;
        align-content: center;
        padding: 10px;
        border-radius: 12px;
        background: #ffffff5d;
        border: 1px solid #ffffff65;
        backdrop-filter: blur;
        list-style-type: none;
        position: relative;
        width: 100%;
        height: 70%;
        text-overflow: clip;}

    img[src="https://www.knots.ph/images/default-source/Christmas-Website-Creatives-2024/fresh-flower-bouquets-mb.png?sfvrsn=2"] {      
          text-align: center;
          flex-wrap: wrap;
          align-content: center;
          padding: 10px;
          border-radius: 12px;
          background: #ffffff5d;
          border: 1px solid #ffffff65;
          backdrop-filter: blur;
          list-style-type: none;
          position: relative;
          width: 100%;
          height: 70%;
          text-overflow: clip;}

    img[src="https://www.knots.ph/images/default-source/collections/Box-of-Blooms/bx2301_1200.jpg?sfvrsn=2"] {      
            text-align: center;
            flex-wrap: wrap;
            align-content: center;
            padding: 10px;
            border-radius: 12px;
            background: #ffffff5d;
            border: 1px solid #ffffff65;
            backdrop-filter: blur;
            list-style-type: none;
            position: relative;
            width: 100%;
            height: 70%;
            text-overflow: clip;}

    img[src="https://www.knots.ph/images/default-source/collections/Mason-Jar-Blooms/mj2107_1200be4cb0a8350a62b6a920ff0000e4902b.jpg?sfvrsn=2"] {      
              text-align: center;
              flex-wrap: wrap;
              align-content: center;
              padding: 10px;
              border-radius: 12px;
              background: #ffffff5d;
              border: 1px solid #ffffff65;
              backdrop-filter: blur;
              list-style-type: none;
              position: relative;
              width: 100%;
              height: 70%;
              text-overflow: clip;}

      img[src="https://www.knots.ph/images/default-source/Table-Arrangements-2023/ar2301_12005bbcb8a8350a62b6a920ff0000e4902b.jpg?sfvrsn=2"] {      
                text-align: center;
                flex-wrap: wrap;
                align-content: center;
                padding: 10px;
                border-radius: 12px;
                background: #ffffff5d;
                border: 1px solid #ffffff65;
                backdrop-filter: blur;
                list-style-type: none;
                position: relative;
                width: 100%;
                height: 70%;
                text-overflow: clip;}
  

    #containerbody {
      text-align: center;
      flex-wrap: wrap;
      align-content: center;
      padding: 10px;
      border-radius: 12px;
      background: #ffffff5d;
      border: 1px solid #ffffff65;
      backdrop-filter: blur;
      list-style-type: none;
      position: static;
      width: auto;
      height: auto;

 }

 .topheader {
  color: #F3E2D0;
  background: #ffffff5d;
  border: 1px solid #ffffff65;
  backdrop-filter: blur;
  padding: 10px;
  list-style-type: none;
  font-family: "Poppins", sans-serif;
font-weight: bold;
max-width: 90%;
margin: auto;}

img[src="../about/assets/img/knotsheaderasset.png"] {
  max-width: 20vw;
  max-height: 20vw;
  align-items: center;
  margin: auto;
  object-position: center;}
  
  
  .knotstitle {
    padding-top: 3%;
    color: #F3E2D0;
  }
